[worldserver]

##########################################################
#
#  Logging Configuration
#  日志配置
#
##########################################################

Appender.MythicPlusLog=2,5,0,mod-mythic-plus.log,w  # 配置Mythic+日志输出到文件
Appender.MythicPlusConsole=1,5,0,"1 9 3 6 5 8"      # 配置Mythic+日志输出到控制台
Logger.module.MythicPlus=5,MythicPlusLog MythicPlusConsole  # 配置Mythic+模块的日志记录器

##########################################################
#
# Mythic+ Global Settings
# Mythic+ 全局设置
#   - 这些设置用于启用或禁用Mythic+系统，并设置系统的全局设置。
#
#   Enabled: 1 = 启用, 0 = 禁用 - 启用Mythic+系统。
#   EnableItemRewards: 1 = 启用, 0 = 禁用 - 启用Mythic+地下城的奖励系统。
#   EnableDeathLimits: 1 = 启用, 0 = 禁用 - 启用Mythic+地下城的死亡限制系统。
#   EnabledDifficulties: 启用的Mythic+地下城难度的逗号分隔列表。
#   DisabledDungeons: 禁用的Mythic+地下城的逗号分隔列表。
#
##########################################################
MythicPlus.Enabled = 1  # 启用Mythic+系统
MythicPlus.EnableItemRewards = 1  # 启用物品奖励系统
MythicPlus.EnableDeathLimits = 1  # 启用死亡限制系统

##########################################################
#
# Enabled difficulty settings
# 启用的难度设置
#
##########################################################
 MythicPlus.EnabledDifficulties = mythic,legendary,ascendant  # 启用的难度设置
 MythicPlus.DisabledDungeons =  # 禁用的地下城

##########################################################
#
# Mythic+ Stat Modifiers By Difficulty
# Mythic+ 难度的属性修正
#   - 这些值用于根据地下城的难度调整敌人和Boss的基础属性。
#   - Boss只会接收他们的乘数，而不是地下城乘数，以防止乘法缩放。
#
##########################################################

MythicPlus.Mythic.DungeonHealth = 1.25  # 地下城怪物生命值修正
MythicPlus.Mythic.DungeonMelee = 1.25  # 地下城怪物近战伤害修正
MythicPlus.Mythic.DungeonBaseDamage = 1.50  # 地下城怪物基础伤害修正
MythicPlus.Mythic.DungeonSpell = 1.15  # 地下城怪物法术伤害修正
MythicPlus.Mythic.DungeonArmor = 1.95  # 地下城怪物护甲修正
MythicPlus.Mythic.DungeonAvgLevel = 83  # 地下城怪物平均等级

MythicPlus.Mythic.DungeonBossHealth = 1.50  # 地下城Boss生命值修正
MythicPlus.Mythic.DungeonBossMelee = 1.35  # 地下城Boss近战伤害修正
MythicPlus.Mythic.DungeonBossBaseDamage = 2.00  # 地下城Boss基础伤害修正
MythicPlus.Mythic.DungeonBossSpell = 1.25  # 地下城Boss法术伤害修正
MythicPlus.Mythic.DungeonBossArmor = 1.35  # 地下城Boss护甲修正
MythicPlus.Mythic.DungeonBossLevel = 85  # 地下城Boss等级

MythicPlus.Legendary.DungeonHealth = 2.25  # 传奇难度地下城怪物生命值修正
MythicPlus.Legendary.DungeonMelee = 2.25  # 传奇难度地下城怪物近战伤害修正
MythicPlus.Legendary.DungeonBaseDamage = 2.75  # 传奇难度地下城怪物基础伤害修正
MythicPlus.Legendary.DungeonSpell = 2.25  # 传奇难度地下城怪物法术伤害修正
MythicPlus.Legendary.DungeonArmor = 2.25  # 传奇难度地下城怪物护甲修正
MythicPlus.Legendary.DungeonAvgLevel = 85  # 传奇难度地下城怪物平均等级

MythicPlus.Legendary.DungeonBossHealth = 2.25  # 传奇难度地下城Boss生命值修正
MythicPlus.Legendary.DungeonBossMelee = 2.25  # 传奇难度地下城Boss近战伤害修正
MythicPlus.Legendary.DungeonBossSpell = 2.25  # 传奇难度地下城Boss法术伤害修正
MythicPlus.Legendary.DungeonBossBaseDamage = 4.00  # 传奇难度地下城Boss基础伤害修正
MythicPlus.Legendary.DungeonBossArmor = 3.25  # 传奇难度地下城Boss护甲修正
MythicPlus.Legendary.DungeonBossLevel = 87  # 传奇难度地下城Boss等级

MythicPlus.Ascendant.DungeonHealth = 3.25  # 登峰难度地下城怪物生命值修正
MythicPlus.Ascendant.DungeonMelee = 3.25  # 登峰难度地下城怪物近战伤害修正
MythicPlus.Ascendant.DungeonBaseDamage = 4.75  # 登峰难度地下城怪物基础伤害修正
MythicPlus.Ascendant.DungeonSpell = 3.25  # 登峰难度地下城怪物法术伤害修正
MythicPlus.Ascendant.DungeonArmor = 3.25  # 登峰难度地下城怪物护甲修正
MythicPlus.Ascendant.DungeonAvgLevel = 87  # 登峰难度地下城怪物平均等级

MythicPlus.Ascendant.DungeonBossHealth = 3.25  # 登峰难度地下城Boss生命值修正
MythicPlus.Ascendant.DungeonBossMelee = 3.25  # 登峰难度地下城Boss近战伤害修正
MythicPlus.Ascendant.DungeonBossSpell = 3.25  # 登峰难度地下城Boss法术伤害修正
MythicPlus.Ascendant.DungeonBossBaseDamage = 6.00  # 登峰难度地下城Boss基础伤害修正
MythicPlus.Ascendant.DungeonBossArmor = 3.25  # 登峰难度地下城Boss护甲修正
MythicPlus.Ascendant.DungeonBossLevel = 90  # 登峰难度地下城Boss等级

##########################################################
#
# Mythic+ Gameplay Settings
# Mythic+ 游戏设置
# - 如果启用了死亡限制模式，以下设置为玩家在被踢出地下城并失败之前的最大死亡次数。
#
##########################################################

MythicPlus.Mythic.DeathAllowance = 100  # 神话难度死亡次数限制
MythicPlus.Legendary.DeathAllowance = 30  # 传奇难度死亡次数限制
MythicPlus.Ascendant.DeathAllowance = 15  # 登峰难度死亡次数限制

##########################################################
#
# Itemization Settings
# 物品化设置
#   - 这些值用于设置按难度设置的物品偏移量。
#   - 此模式下的物品掉落使用原始物品条目加上偏移量来确定新的物品条目奖励。
#   - 这在掉落物品时启用快速查找，因为这只是一个加法运算。
#   - 如果使用基本生成的sql，以下设置将映射到它。如果偏移量不正确，
#     将找不到物品，并奖励原始低等级物品。
#
##########################################################

MythicPlus.Mythic.ItemOffset = 20000000  # 神话难度物品偏移量
MythicPlus.Legendary.ItemOffset = 21000000  # 传奇难度物品偏移量
MythicPlus.Ascendant.ItemOffset = 22000000  # 登峰难度物品偏移量

##############
# Scaling Adjusters
# 缩放调整
#############
MythicPlus.MeleeAttackPowerDampener = 800  # 近战攻击力衰减
MythicPlus.MeleeAttackPowerStart = 3000  # 近战攻击力起始值